version: '3.8'

networks:
  app_net:
    external: true
    name: {{ monitoring_app_network }}
  web_net:
    external: true
    name: {{ monitoring_web_network }}

services:
  cadvisor:
    image: {{ monitoring_cadvisor_image }}
    command:
      - --disable_metrics=disk,udp,percpu
    restart: "${RESTART_POLICY}"
    hostname: "${HOSTNAME}"
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
{% if monitoring_publish_ports | default(false) %}
    ports:
      - "{{ monitoring_cadvisor_port | default(8080) }}:8080"
{% endif %}
    networks:
      - app_net
      - web_net

  node-exporter:
    image: {{ monitoring_node_exporter_image }}
    restart: "${RESTART_POLICY}"
    hostname: "${HOSTNAME}"
    container_name: node-exporter
    pid: host
    volumes:
      - /:/host:ro,rslave
    command:
      - --path.rootfs=/host
      - "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc|host/var/lib/docker/containers|host/var/lib/docker/overlay2|host/run/docker/netns|host/var/lib/docker/aufs)($$|/)"

{% if monitoring_publish_ports | default(false) %}
    ports:
      - "{{ monitoring_node_exporter_port | default(9100) }}:9100"
{% endif %}
    networks:
      - app_net
      - web_net

  promtail:
    image: {{ monitoring_promtail_image }}
    restart: "${RESTART_POLICY}"
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail:/etc/promtail
    command:
      - -config.file=/etc/promtail/promtail.yml
    networks:
      - app_net
      - web_net
