server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: https://tpay:rferHUH2cRDtpC1eBiql5O4QsVyrA@loki.observability.tpcms.ir/api/prom/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
          - localhost
    labels:
          job: miniobackup_varlogs
          __path__: /var/log/*.log

 

- job_name: container
  docker_sd_configs:
    - host: unix:///var/run/docker.sock
      refresh_interval: 5s
  relabel_configs:
    - source_labels: ["__meta_docker_container_name"]
      regex: "/(.*)"
      target_label: "miniobackup_container"
