global:
  resolve_timeout: 1m
  smtp_smarthost: 'smtp.gmail.com'
  smtp_from: 'rahyarit@gmail.com'
  smtp_auth_username: 'rahyarit@gmail.com'
  smtp_auth_password: '<YOUR MAILBOX PASSWORD>'
  smtp_auth_identity: 'rahyarit@gmail.com'

route:
  receiver: 'Production_Environment'
  group_wait: 30s
  group_interval: 30s
  repeat_interval: 30s
  group_by: ['instance', 'severity']

receivers:
- name: 'Production_Environment'
  slack_configs:
  - api_url: '${SLACK_WEBHOOK_URL}'
    channel: '${SLACK_CHANNEL}'
    username: 'AlertManager-Monitoring'
    icon_emoji: ':rotating_light:'
    title: '[{{ .Status | toUpper }}] {{ .GroupLabels.alertname }}'
    text: |
      {{ range .Alerts }}
      *Alert:* {{ .Annotations.summary }}
      *Description:* {{ .Annotations.description }}
      *Severity:* {{ .Labels.severity }}
      *Instance:* {{ .Labels.instance }}
      {{ end }}
    send_resolved: true
    actions:
    - type: button
      text: 'View in Grafana'
      url: 'http://${VM_IP}:3000'
    - type: button
      text: 'View in Prometheus'
      url: 'http://${VM_IP}:9090'
  email_configs:
    - send_resolved: true
      to: '<YOUR RECIVER MAINBOX>'